{
    "openapi": "3.0.0",
    "info": {
      "title": "Sukoon Saarthi API",
      "description": "API documentation for Sukoon Saarthi healthcare application",
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api.sukoon-saarthi.com/api",
        "description": "Production server"
      },
      {
        "url": "http://localhost:3000/api",
        "description": "Development server"
      }
    ],
    "components": {
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer",
          "bearerFormat": "JWT"
        }
      }
    },
    "paths": {
      "/health/vitals": {
        "post": {
          "summary": "Record a vital sign",
          "tags": ["Health"],
          "security": [{ "bearerAuth": [] }],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": ["bloodPressure", "glucose", "heartRate", "oxygenLevel", "temperature", "weight"]
                    },
                    "values": {
                      "type": "object"
                    },
                    "unit": {
                      "type": "string"
                    },
                    "notes": {
                      "type": "string"
                    }
                  },
                  "required": ["type", "values"]
                }
              }
            }
          },
          "responses": {
            "201": {
              "description": "Vital sign recorded successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "example": "success"
                      },
                      "message": {
                        "type": "string"
                      },
                      "vitalSign": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            },
            "400": {
              "description": "Bad request"
            },
            "401": {
              "description": "Unauthorized"
            },
            "500": {
              "description": "Server error"
            }
          }
        },
        "get": {
          "summary": "Get user's vital signs",
          "tags": ["Health"],
          "security": [{ "bearerAuth": [] }],
          "parameters": [
            {
              "name": "type",
              "in": "query",
              "description": "Filter by vital sign type",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "from",
              "in": "query",
              "description": "Start date (ISO format)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "to",
              "in": "query",
              "description": "End date (ISO format)",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "page",
              "in": "query",
              "description": "Page number",
              "schema": {
                "type": "integer",
                "default": 1
              }
            },
            {
              "name": "limit",
              "in": "query",
              "description": "Results per page",
              "schema": {
                "type": "integer",
                "default": 10
              }
            }
          ],
          "responses": {
            "200": {
              "description": "Successful operation",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "example": "success"
                      },
                      "count": {
                        "type": "integer"
                      },
                      "total": {
                        "type": "integer"
                      },
                      "pages": {
                        "type": "integer"
                      },
                      "currentPage": {
                        "type": "integer"
                      },
                      "vitalSigns": {
                        "type": "array",
                        "items": {
                          "type": "object"
                        }
                      },
                      "trends": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      },
      "/health/dashboard": {
        "get": {
          "summary": "Get health dashboard with AI insights",
          "tags": ["Health"],
          "security": [{ "bearerAuth": [] }],
          "responses": {
            "200": {
              "description": "Successful operation",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "example": "success"
                      },
                      "dashboard": {
                        "type": "object",
                        "properties": {
                          "latestVitals": {
                            "type": "object"
                          },
                          "latestCheckIn": {
                            "type": "object"
                          },
                          "vitalTrends": {
                            "type": "object"
                          },
                          "wellnessTrends": {
                            "type": "object"
                          },
                          "insights": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "401": {
              "description": "Unauthorized"
            },
            "429": {
              "description": "Too many requests"
            },
            "500": {
              "description": "Server error"
            }
          }
        }
      }
    }
  }